.MyCard, .MyCard:hover{
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 15px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  background-color: rgba(7,16,31,0.5);
}

.margin{
  margin-top: 75px;
}