<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/INSAT.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="row">
                <div class="col-md-6 centeredVertically">
                    <a href="https://www.facebook.com/TechLensTunisia/">
                        <img class="centeredVertically" src="assets/img/Techlens-logo-md.png" alt="">
                    </a>
                </div>
                <div class="col-md-6 centeredVertically">
                    <a href="https://www.facebook.com/Insat.Press/">
                        <img class="centeredVertically" src="assets/img/InsatPress-logo-md.png" alt="">
                    </a>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                    </div>
                    <h1 class="presentation-title linkedHeader" [routerLink]="['/signup']">Sign Up</h1>
                    <label>The challenge costs 5DT per Participant</label>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>